#include <winver.h>
#include <winres.h>

VS_VERSION_INFO VERSIONINFO
  FILEVERSION    0,1,0,0
  PRODUCTVERSION 0,1,0,0
  FILEFLAGSMASK  VS_FFI_FILEFLAGSMASK
  #if 0
  FILEFLAGS      0x3L
  #else
  FILEFLAGS      0x0L
  #endif
  FILEOS         VOS_NT_WINDOWS32
  FILETYPE       VFT_DRV
  FILESUBTYPE    VFT2_DRV_NETWORK
  BEGIN
    BLOCK "StringFileInfo"
    BEGIN
      BLOCK "040904B0"
      BEGIN
        VALUE "CompanyName",      "PQVPN Project\0"
        VALUE "FileDescription",  "PQVPN Tunnel Driver (Phase 1 scaffold)\0"
        VALUE "FileVersion",      "0.1.0.0\0"
        VALUE "LegalCopyright",   "MIT License\0"
        VALUE "OriginalFilename", "pqvpn_tunnel.sys\0"
        VALUE "ProductName",      "PQVPN Tunnel Driver\0"
        VALUE "ProductVersion",   "0.1.0.0\0"
      END
    END
    BLOCK "VarFileInfo"
    BEGIN
      VALUE "Translation", 0x409, 1200
    END
  END
